/****************** RESET ****************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    color: azure;
    /* background: lightgoldenrodyellow; */

}
.container{
    background: rgb(81, 91, 102);
}
.jumbotron{
    background: rgb(127, 139, 155);
}
h1{
    font-size: 3rem;
}

h3{
    color: lightcoral;
    font-size: 1.5rem;
}
button{
    margin: 5px;
}

/****************** END REST ****************************/

/****************** GAME ****************************/

#jeu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin: auto;
}

#demarrer-quiz{
    text-decoration: none;

}
.case{
    border: 1px solid white;
    height: 100px;
}
.choices{
    display: flex;
    flex-wrap: wrap;
    margin: 3rem auto 3rem;
    width: 500px;
}
button{
    flex: 1 0 45%;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: .4rem;
    outline: none;
    background: cornsilk;
    user-select: none;
    font-weight: 600;
    color: #af9d52;
}
.btn-lemon{
    color: lightyellow;
    background: cornsilk;
}
button:hover{
    background: rgb(146, 138, 68);
    transition: transform .1s;

}
button p{
    font-size: 1.3rem;
    /* background: cornsilk; */
    color: rgb(82, 68, 68);
    /* color: red; */
}
#restart{
    color: rgb(172, 74, 4);

}
#progress{
    font-size: 1.3rem;
    color: rgb(172, 74, 4);
}
/****************** END GAME ****************************/

/****************** FOOTER ****************************/
footer .grey_dark{
     font-size: 22px;
     line-height: 28px;
     color: #7c6b66;
     font-weight: 700;
 }
footer .text{
    font-size: 23px;
    line-height: 28px;
    color: #7c6b66;
    padding-bottom: 20px;
}
footer{
    border-top: 5px solid #38b6ab;
    width: 100%;
}
.img_footer{
    max-height: 50px;
    max-width: 200px;
    margin: 15px;
}
.hr_grey{
    background: #7c6b66;
    height: 1px;
}
.hr_purple{
    background: #d204a8;
    height: 1px;
}
.hr_cyan{
    background: #38b6ab;
    height: 1px;
}
.hr_yellow{
    background: #fdb814;
    height: 1px;
}
.m_top_40{
    margin-top: 40px;
}
.padding_bottom_25{
    padding-bottom: 25px;
}
.logo_footer{
    color: rgba(0, 0, 0, 0.65);
    max-width: 30px;
    opacity: .7;
    height: 30px;
    filter: invert(100%);
}
.logo_footer_2{
    max-width: 30px;
    height: 30px;
}
.float_left{
    float: left;
}
.display_inline_block{
    display: inline-block;
}
.display_inline_block .title{
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: #7c6b66;
    text-transform: uppercase;
}
.padding_10{
    padding: 10px;
}
.container_color{
    /*background: #fdb814;*/
    background: #375a7f;
    padding: 20px 0;
    margin-top: 20px;
}
.container_color .text{
    color: white;
    font-size: 24px;
}
.container_color .submit{
    background: #2dfd1e;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
    border: 2px solid #fff;
    text-transform: uppercase;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Roboto,Arial,serif;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 44px;
    text-align: center;
    margin-left: -4px;
}
.container_color .form_mail{
    background: #fff !important;
    color: #7c6b66;
    font-weight: 400;
    line-height: 44px;
    border: none;
    box-sizing: border-box;
    font-family: Roboto,Arial,serif;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 44px;
    text-align: left;
    margin: 0px !important;
    padding: 0 10px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.form_phone{
    background: #fff !important;
    color: #7c6b66;
    font-weight: 400;
    line-height: 44px;
    border: none;
    box-sizing: border-box;
    font-family: Roboto, Arial, serif;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    height: 44px;
    text-align: left;
    margin: 0px !important;
    padding: 0 10px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.text_bottom_footer{
    font-size: 15px;
    line-height: 18px;
    color: #7c6b66;
    font-weight: 400;
}
.block_bottom_footer{
    margin-top: 20px;
}
.scroll-back-to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    background: rgba(52,58,64,.5);
    line-height: 45px;
}
