<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ name_site }}!{% endblock %}</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link type="text/html" href="https://bootswatch.com/">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/Yeti/yeti.css') }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sriracha&display=swap" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.3.2/main.min.css" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/users.css') }}"/>

    <style>
        *{
            font-family: 'Sriracha', cursive;

        }
    </style>
    {% block stylesheets %}{% endblock %}
</head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
